@font-face {
    font-family: "Radio-Canada-300";
    src: url("../scss/RADIO_CANADA_300.ttf") format("truetype");
  }

  @font-face {
    font-family: "Radio-Canada-Regular";
    src: url("../scss/RADIO_CANDA_REGULAR.ttf") format("truetype");
  }

  @font-face {
    font-family: "Radio-Canada-500";
    src: url("../scss/RADIO_CANDA_500.ttf") format("truetype");
  }