@import "variables";
@import "fonts";
@import "messages/messages_header";
@import "messages/messages_main_right";
@import "messages/messages_main_left";

body {
  font-family: $global_font;
  font-size: 14px;
  padding: 0;
  margin: 0;
}