@media (max-width: 980px) {
    
    #main-container {
        flex-direction: column;

        #main-container-mobile {
            width: 100%;
            
            .menu-container {
                width: 100%;;
            }
        }
   
        #main-content {
            width: 100%;
        }
    }   
}

