@import "variables";

.menu-container {
  width: $leftmenu_width;               // from variable
  padding: $default_padding;
  background-color: $leftmenu_background_color;
  height: 100%;                         // 100% and box-sizing must be set too to border-box
  box-sizing: border-box;
  display: inline-block;                // display in row

  details[open] {
    .dropdown-arrow { 
      transform: translateY(-3.5px) rotate(180deg);
    }
  }

  .small-logo {
    background-color: $leftmenu_background_color;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
  }

  .main-menu-title {
    color: $white;
    font-family: $global_bold_font;
  }
  
  .main-menu-item {
    position: relative;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    @include menu-item-style; 
   
    &:hover, &:focus-within {
      @include menu-item-hover;
    }

    &:hover .white-plane {
        display: none;
    }
    
    &:hover .dark-plane {
        display: inline;
    }

    &:focus .white-plane {
      display: none;
    }

    &:focus .dark-plane {
    display: inline;
    }
      
    &:hover >.dropdown-arrow {
        border-top: solid 7px $leftmenu_text_hover_color;
    }

    &:focus >.dropdown-arrow {
        border-top: solid 7px $leftmenu_text_hover_color;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      height: 24px;
      width: auto;
      margin-right: 0.5em;
    }

    .dark-plane {
      display: none;
    }

    .dropdown-arrow { 
      position: absolute;
      right: 10px;
      border: solid 7px transparent;
      border-top: solid 7px $leftmenu_text_color;
      transform: translateY(7px);
    }

    .mail-count-box {
      position: absolute;
      right: 10px;
      padding: 0 0.4em;
      border-radius: 20%;
      background-color: $purple;
      color: white;
    } 
  }

  .submenu {
    margin: 0;
    padding: 0 0 0 $default_padding;

    li {
      padding: 5px 0 0 20px;
      list-style-type: none;
      @include menu-item-style;
      font-family: $global_font;
      
      &:hover, &:focus-within {
        @include menu-item-hover;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }

      img {
        height: 1.5em;
        width: auto;
        margin-right: 0.5em;
      }
    }
  }
}