@media (max-width: 980px) {
    
    #main-container {
        flex-direction: column;

        #main-container-mobile {
            width: 100%;
            
            #mobile-container-summary {
                display: list-item;

                &::marker {
                    content: "xxx";
                    font-size: 2em;
                }
            }

            .menu-container {
                width: 100%;;
            }
        }
   
        #main-content {
            width: 100%;
        }
    }   
}

