$darkgrey: #36383d;
$lightgrey: #334052;
$greyishblue: #82b5d8;
$lightblue: #a4e0f8;
$darkerblue: #3894d1;
$purple: #7e23bb;
$greyishwhite: #bcc1cc;
$lawngreen: #8cb95e;
$shadowgreen: #8d918d;

$header_color: $darkgrey;
$leftmenu_color: $lightgrey;
$leftmenu_li_font_color: $greyishwhite;



