// theme colors
$white: #fff;
$darkgrey: #36383d;
$lightgrey: #334052;
$greyishblue: #82b5d8;
$lightblue: #a4e0f8;
$darkerblue: #3894d1;
$purple: #8f4aeb;
$greyishwhite: #bcc1cc;
$lawngreen: #8cb95e;
$shadowgreen: #8d918d;

// common
$global_font: Radio-Canada-300;
$global_bold_font: Radio-Canada-500;
$default_padding: 5px;

// header
$header_height: 45px;
$header_background_color: $darkgrey;
$header_text_color: $white;
$header_button_color: $white;
$header_button_background_color: $lawngreen;
$header_button_shadow_color: $shadowgreen;
$header_button_hover_background_color: $white;
$header_button_hover_text_color: $darkgrey;

// menu
$leftmenu_width: 200px;
$leftmenu-mobile-width: 100%;
$leftmenu-mobile-height: 60px;
$leftmenu_background_color: $lightgrey;
$leftmenu_text_color: $greyishwhite;
$leftmenu_text_hover_background_color: $greyishwhite;
$leftmenu_text_hover_color: $darkgrey;

// menu items styling

 @mixin menu-item-style {
    color: $leftmenu_text_color;
    font-family: $global_bold_font;  
    cursor: pointer;
    transition: background-color, color 0.5s ease;
  }

  @mixin menu-item-hover {
    background-color: $leftmenu_text_hover_background_color;
    color:  $leftmenu_text_hover_color;
  }